.DS_Store
go.work*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.i
*.json
*.i.go
*.c.go

# Dependency directories (remove the comment below to include it)
# vendor/
